//colors
$white: #ffffff;
$black: #000000;
$primary: #104A4A;
$secondary: #475569;
$teal: #009999;
$dark-grey: #64748B;

//fonts
$font100: 100;
$font200: 200;
$font300: 300;
$font400: 400;
$font500: 500;
$font600: 600;
$font700: 700;
$font800: 800;
$font900: 900;